<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>POST 방식으로 요청 후 응답 페이지 받아보기</h1>
	
	<p>
		특징 1. POST 방식으로 요청하는 건 URL의 Body 영역에 데이터를 포함시켜서 요청 <br>
		=> 사용자가 입력한 값 (데이터)들이 URL에 노출되지 않음 <br>
		=> 즉, 로그인이나 회원가입 같은 경우 POST 방식이 더 적합함 <br><br>
		
		특징 2. URL의 Body 영역은 전송하는 데이터의 길이에 제한이 없음 <br>
		=> 즉, 게시판 작성 같은 경우 POST 방식이 더 적합함 <br><br>
		
		특징 3. 즐겨찾기는 가능하나 전달되는 데이터가 URL에 노출되어 있지 않음
			  (기존에 봤던 그 응답화면을 볼 수 없을 것)
		=> 즉, 검색 기능에는 POST 방식이 부적합함 <br><br>
		
		특징 4. 최대 요청 받는 시간(Time out)이 존재해 페이지 요청 시 기다리는 시간이 있음
	</p>

</body>
</html>